.lobby-container{
    width: 100%;
    text-align: center;
}

.game-container{
    width: 100%;  
    height: 100%;
    text-align: center;
}

.drawing-container{
    float: left;
    width: 70%;
    height: 100%;
}

.game-input-container{
    float: left;
    width: 30%;
    height: 100%;
}

.score{
    width: 100%;
    height: 40%;}

.game-chat{
    width: 100%;
    height: 60%;
}