
<div class="game-container" *ngIf="active">
    <p>Game Started</p>
    <div class="drawing-container jumbotron">
        
    </div>

    <div class="game-input-container">
        <div class="score">
             <p>score</p>
             <label class="scorce-wraper" *ngFor="let player of players">
                 <p class="player-name">{{player.username}}</p><p class="player-points"> {{player.points}}</p>
             </label>
        </div>
        <div class="game-chat">
            <div class="messages">
                <p *ngFor="let message of gameChat">{{message}}</p>
            </div>

            <input type="text" #guessWordInput (keyup.enter)="guessWord(guessWordInput.value)" class="form-control" >
        </div>
    </div>
</div>

<div class="lobby-container" *ngIf="(!active) && gameCreator">

    <h3>start the game</h3>
    <div *ngFor="let player of players">
        <p>{{player.username}}</p>
    </div>
    <button type="button" (click)="startGame()" class="btn btn-outline-primary"> Start </button>
    <button type="button" (click)="quit()" class="btn btn-outline-primary"> Quit </button>
</div>

<div class="lobby-container" *ngIf="(!active) && !gameCreator">
    <h3>waiting for game to start</h3>
    <div *ngFor="let player of players">
        <p>{{player.username}}</p>
    </div>
    <button type="button" (click)="quit()" class="btn btn-outline-primary"> Quit </button>
</div>